<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>
<body>
    <h1>ToDo List</h1>

    <div>
        <form method="POST" action="/add">
            <label for="todo">ToDo:</label>
            <input type="text" id="todo" name="todo" placeholder="Digite uma tarefa..." />
            <input type="submit" value="Acrescentar" />
        </form>
    </div>

    <div>
        <ul>
            <li th:each="item : ${todo_list}" th:text="${item}"></li>
        </ul>
    </div>
    
</body>
</html>